<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfas.bpm.dao.FlowAssignersMapper">
  <resultMap id="BaseResultMap" type="com.win.dfas.bpm.entity.FlowAssigners">
    <id column="model_id" jdbcType="VARCHAR" property="modelId" />
    <id column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <id column="desc_index" jdbcType="INTEGER" property="descIndex" />
    <id column="plugin_type" jdbcType="VARCHAR" property="pluginType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="code_desc" jdbcType="VARCHAR" property="codeDesc" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    model_id, node_id, desc_index, plugin_type, description, code_desc, create_user_id,
    create_time, update_user_id, update_time
  </sql>

  <resultMap id="DescResultMap" type="com.win.dfas.bpm.vo.response.FlowAssignersRepVO">
    <id column="model_id" jdbcType="VARCHAR" property="modelId" />
    <id column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <id column="desc_index" jdbcType="INTEGER" property="descIndex" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="plugin_type" jdbcType="VARCHAR" property="pluginType" />
  </resultMap>

  <select id="queryNodeDescribe" parameterType="com.win.dfas.bpm.vo.response.FlowAssignersRepVO" resultMap="DescResultMap">
    	select 	model_id,node_id,plugin_type,desc_index,description from  param_flowassigners
    	where model_id = #{modelId,jdbcType=VARCHAR}
    	and  node_id = #{nodeId,jdbcType=VARCHAR}
    	order by create_time
  </select>

  <resultMap type="com.win.dfas.bpm.vo.response.AllFlowAssignersRepVO" id="AllFlowAssignerMap">
    <result column="model_id" property="modelId"/>
    <result column="node_id" property="nodeId"/>
    <collection property="flowAssignersRepVOS" ofType="com.win.dfas.bpm.vo.response.FlowAssignersRepVO">
      <id column="model_id" jdbcType="VARCHAR" property="modelId" />
      <id column="node_id" jdbcType="VARCHAR" property="nodeId" />
      <id column="desc_index" jdbcType="INTEGER" property="descIndex" />
      <result column="description" jdbcType="VARCHAR" property="description" />
      <result column="plugin_type" jdbcType="VARCHAR" property="pluginType" />
    </collection>
  </resultMap>
  <select id="queryAllDescribe" parameterType="com.win.dfas.bpm.vo.response.AllFlowAssignersRepVO" resultMap="AllFlowAssignerMap">
    	select 	node_id,model_id,plugin_type,desc_index,description  from  param_flowassigners
    	where model_id = #{modelId,jdbcType=VARCHAR}
    	order by create_time
  </select>

  <select id="selectByPrimaryKey" parameterType="com.win.dfas.bpm.entity.FlowAssignersKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from param_flowassigners
    where model_id = #{modelId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and desc_index = #{descIndex,jdbcType=INTEGER}
      and plugin_type = #{pluginType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.win.dfas.bpm.entity.FlowAssignersKey">
    delete from param_flowassigners
    where model_id = #{modelId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and desc_index = #{descIndex,jdbcType=INTEGER}
      and plugin_type = #{pluginType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.win.dfas.bpm.entity.FlowAssigners">
    insert into param_flowassigners (model_id, node_id, desc_index,
      plugin_type, description, code_desc,
      create_user_id, create_time, update_user_id,
      update_time)
    values (#{modelId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{descIndex,jdbcType=INTEGER},
      #{pluginType,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{codeDesc,jdbcType=VARCHAR},
      #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.win.dfas.bpm.entity.FlowAssigners">
    insert into param_flowassigners
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modelId != null">
        model_id,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="descIndex != null">
        desc_index,
      </if>
      <if test="pluginType != null">
        plugin_type,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="codeDesc != null">
        code_desc,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modelId != null">
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="descIndex != null">
        #{descIndex,jdbcType=INTEGER},
      </if>
      <if test="pluginType != null">
        #{pluginType,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="codeDesc != null">
        #{codeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.win.dfas.bpm.entity.FlowAssigners">
    update param_flowassigners
    <set>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="codeDesc != null">
        code_desc = #{codeDesc,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where model_id = #{modelId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and desc_index = #{descIndex,jdbcType=INTEGER}
      and plugin_type = #{pluginType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.win.dfas.bpm.entity.FlowAssigners">
    update param_flowassigners
    set description = #{description,jdbcType=VARCHAR},
      code_desc = #{codeDesc,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where model_id = #{modelId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and desc_index = #{descIndex,jdbcType=INTEGER}
      and plugin_type = #{pluginType,jdbcType=VARCHAR}
  </update>
</mapper>
