@charset 'UTF-8';
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.yellowButton {
    color: #fff;
    background-color: #ff900d;
    border-color: #ff900d;
}

.defaultButton {
    color: #999999;
    background-color: #f5f7fa;
    border-color: #f5f7fa;
}

.iconAddbutton {
    color: #fff;
    background: #2b3551;
    border: #2b3551;
}

.el-icon-edit {
    color: #33cc33;
}

.el-icon-delete {
    color: #ff4d4d;
}

.operate span {
    cursor: pointer;
}

.divCenter {
    margin: 0 auto;
}
