@charset "UTF-8";
@import "../../assets/style/theme.scss";

.el-dialog {
    position: relative;
    margin: 0 auto 50px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #1B2441;
    text-align: center;
    color: $color-white;
    border: 1px solid $color-orange;
    text-align: center;

}

.el-dialog__header {}


.el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: $color-white;

    &.center {
        text-align: center
    }
}

.el-dialog__footer {
    &.no-boder {
        border-bottom-color: transparent
    }
}

.el-dialog__body {
    color: #FF900D
}

.el-dialog--center .el-dialog__body {
    padding: 30px 20px;
    color: $color-white;
    font-size: 14px;
    word-break: break-all;
    text-align: center
}
