@charset "UTF-8";
@import "../../assets/style/theme.scss";

.el-pagination__total {
    color: #fff
}

.el-pagination__editor.el-input .el-input__inner {
    height: 28px;
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
}

.el-pagination .el-select .el-input .el-input__inner {
    background: transparent;
    border: none;
    color: #fff;
    margin-top: -5px
}

.el-pagination__jump {
    color: #fff
}

.el-pager li {
    font-size: 14px;
    text-align: center;
    background: transparent;
    color: #fff;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
    background: center center no-repeat transparent;
    background-size: 16px;
    cursor: pointer;
    margin: 0;
    color: #fff;
    background: transparent;
}

.el-pagination button:disabled {
    color: #C0C4CC;
    background-color: transparent;
    cursor: not-allowed;
}

.el-select .el-input .el-select__caret {
    margin-top: -4px
}

.el-pager li.active {
    color: #FF900D
}

.el-pager li:hover {
    color: #FF900D
}

.el-pagination {
    white-space: nowrap;
    padding: 2px 5px;
    color: #303133;
    font-weight: 700;
    text-align: center;
}
