<html ng-app="app">
<head>
<link href="../../build/common/base.css" rel="stylesheet">
<script type="text/javascript" src="../../build/common/base.js"></script>
<script type="text/javascript" src="../../build/common/ngEdit.js"></script>

<script type="text/javascript">
	var app = angular.module("app", [ 'base' ]);
	app.controller('ctrl', [ '$scope','$http', 'baseService', function($scope, $http,baseService) {
		$scope.data = window.passData;

		$scope.data.source = 'spec';

		$scope.user = {};
		$scope.user.list = [];
		$scope.list =[];
		$scope.checked =[];
		$scope.checkedUser={};
		// console.log("start=="+$scope.data);
		// var arr = $scope.data.account.split(',');
		$http.get("/service/param/userList").then(function(response) {
			$scope.list = response.data.data;
			for(var i = 0; i < $scope.list.length; i++){
				// if(arr.in_array($scope.list[i])){
				// 	$scope.list[i].state =1;
				// }else{
					$scope.list[i].state =0;
				// }

			}
		});
		if ($scope.data.source == 'spec' && $scope.data.userName) {
			$scope.user.name = $scope.data.userName;
			$scope.user.account = $scope.data.account;
			if($scope.user.name){
				var arrAccount = $scope.user.account.split(',')
					 for(var i = 0; i < $scope.list.length; i++){
						 if(arrAccount.in_array($scope.list[i].account)){
							 $scope.list[i].state =1;
						  }else{
							 $scope.list[i].state =0;
						 };
					 };
			}
		};
		// console.log("88888="+$scope.data.userName);
		// // 指定人员
		//  if ($scope.data.source == 'spec' && $scope.data.account ) {
		// 	 console.log($scope.data.account);
		// 	 var arrAccount = $scope.data.account.split(',');
		// 	 console.log(arrAccount);
		// 	 for(var i = 0; i < $scope.list.length; i++){
		// 		 if(arrAccount.in_array($scope.list[i])){
		// 			 $scope.list[i].state =1;
		// 		  }else{
		// 			 $scope.list[i].state =0;
		// 		 };
		//
		// 	 };
		// 	 console.log($scope.list)
		// };
		// //提交
		// $scope.updateSelection= function(){
		// 	// var selectData = [];
		// 	// for(var i = 0; i < $scope.list.length; i++){
		// 	// 	if($scope.list[i].state){
		// 	// 		// console.log($scope.list[i])
		// 	// 		selectData.push($scope.list[i]);
		// 	// 	}
		// 	// }
		// 	var scope = AngularUtil.getScope();
		// 	scope.data.description=""+$scope.user.name;
		// 	$scope.data.description= $scope.user.name;
		// 	window.data.description =  $scope.user.name;
		// 	console.log(window.passData.description)
		// 	return getResult();
		//
		// };
		//选择复选框
		$scope.checkChange = function (entity,$index) {
			console.log(entity.state+"===="+$index);
			// console.log($scope.list[$index].state)
			if(entity.state) {
				$scope.checked.push(entity);
			}else{
				//查询id对应的index
				for(var i = 0; i < $scope.checked.length; i++){
					if($scope.checked[i].id===entity.id){
						// console.log("11111======"+i)
						$scope.checked.splice(i, 1);
						break;
					}
				}
			};
			$scope.user.list = $scope.checked;
			console.log($scope.user.list)
			for(var i = 0; i < $scope.checked.length; i++){
				if(i==0){
					$scope.user.name = $scope.checked[i].name;
					$scope.user.account = $scope.checked[i].account;
				}else{
					$scope.user.name +=","+ $scope.checked[i].name;
					$scope.user.account +=","+ $scope.checked[i].account;
				}
			};
			$scope.data.description=""+$scope.user.name;
			// console.log("change======"+$scope.user.account)
		};


	} ]);

	function getResult() {
		var scope = AngularUtil.getScope();

		//指定人员
		if (scope.data.source == 'spec') {
			scope.data.userName = scope.user.name;
			scope.data.account = scope.user.account;
			scope.data.id = scope.user.id;
			console.log(scope.data.userName)
		}

		if (scope.data.source == 'start') {
			scope.data.description="发起人";
		}else if (scope.data.source == 'spec') {
			if(!scope.user.name){
				$.Toast.error("请选择用户！");
				return false;
			}
			scope.data.description=""+scope.user.name;
		}
		console.info("userName=="+scope.user.userName)
		return scope.data;
	}
</script>
</head>
<body ng-controller="ctrl">
	<div id="tempTree"></div>
	<table class="form-table">
		<tr>
			<th> 指定用户：
			</th>
			<td colspan="2">
				<textarea ng-model="user.name" readonly="readonly"  cols="30" rows="3"></textarea>
				<!--<a href="javascript:javaScript:void(0)" class="btn  btn-primary" ng-click="updateSelection()">选择用户</a>-->
			</td>

		</tr>
		<tr ng-repeat="entity in list">
			<td><input type="checkbox" ng-model="entity.state" ng-change="checkChange(entity,$index)"></td>
			<!--<td>{{entity.id}}</td>-->
			<td>{{entity.name}}</td>
			<td>{{entity.account}}</td>
		</tr>
	</table>
</body>
</html>


