<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfas.dao.ParamFlowInstMapper">
  <resultMap id="BaseResultMap" type="com.win.dfas.vo.response.ParamFlowRepVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flow_name" jdbcType="VARCHAR" property="flowName" />
    <result column="flow_type" jdbcType="VARCHAR" property="flowType" />
    <result column="begin_date" jdbcType="CHAR" property="beginDate" />
    <result column="end_date" jdbcType="CHAR" property="endDate" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="invest_company" jdbcType="VARCHAR" property="investCompany" />
    <result column="invest_constitute" jdbcType="VARCHAR" property="investConstitute" />
    <result column="instruction_type" jdbcType="VARCHAR" property="instructionType" />
    <result column="market_code" jdbcType="VARCHAR" property="marketCode" />
    <result column="security_type" jdbcType="VARCHAR" property="securityType" />
    <result column="transaction_direction" jdbcType="VARCHAR" property="transactionDirection" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="model_id" jdbcType="VARCHAR" property="modelId" />
    <result column="flow_code" jdbcType="BIGINT" property="flowCode" />
    <result column="deployment_id" jdbcType="VARCHAR" property="deploymentId" />
    <result column="process_def_id" jdbcType="VARCHAR" property="processDefId" />
    <result column="start_flag" jdbcType="BIT" property="startFlag" />
    <result column="control_type" jdbcType="VARCHAR" property="controlType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, flow_name, flow_type, begin_date, end_date, product_code, invest_company, invest_constitute,
    instruction_type, market_code, security_type, transaction_direction, create_user_id,
    create_time, update_user_id, update_time, model_id, flow_code, deployment_id, process_def_id,
    start_flag, control_type
  </sql>
  <select id="queryProcessDefIdfromFlowInst" resultMap="BaseResultMap"
          parameterType="com.win.dfas.vo.request.ParamFlowReqVO">
    select <include refid="Base_Column_List" /> from param_flowInst where
     product_code = #{productCode,jdbcType=BIGINT}
    and start_flag=1
    and TIMESTAMPDIFF(day,date_format(CURRENT_DATE(),'%Y-%m-%d'),end_date)>=0
    order by  security_type,instruction_type,market_code,invest_constitute,invest_company
  </select>
  <select id="queryIdFromFlowInst" resultType="java.lang.Long" parameterType="com.win.dfas.vo.request.ParamFlowReqVO">
    select id from param_flowInst where
     product_code = #{productCode,jdbcType=BIGINT}
     <if test="instructionType != null and instructionType.length() > 0">
       and instruction_type = #{instructionType,jdbcType=VARCHAR}
     </if>
    <if test="marketCode != null and marketCode.length() > 0">
       and market_code = #{marketCode,jdbcType=VARCHAR}
    </if>
    <if test="investConstitute != null and investConstitute.length() > 0">
       and invest_constitute = #{investConstitute,jdbcType=VARCHAR}
    </if>
    <if test="investCompany != null and investCompany.length() > 0">
       and invest_company = #{investCompany,jdbcType=VARCHAR}
    </if>
    <if test="securityType != null and securityType.length() > 0">
       and security_type = #{securityType,jdbcType=VARCHAR}
    </if>
     limit 1
  </select>
  <select id="listFlowName"
          resultType="com.win.dfas.vo.response.item.FlowNameItem">
  SELECT id as code,flow_name as name
  FROM param_flowInst
  </select>

  <select id="list" parameterType="com.win.dfas.vo.request.ParamFlowReqVO"
          resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    FROM param_flowInst
    where 1=1
    <if test="flowName != null and flowName.length() > 0">
      and flow_name = #{flowName,jdbcType=VARCHAR}
    </if>
    <if test="flowType != null and flowType.length() > 0">
      and flow_type = #{flowType,jdbcType=VARCHAR}
    </if>
    <if test="productCode != null and productCode.length() > 0">
      and product_code = #{productCode,jdbcType=VARCHAR}
    </if>
    <if test="investCompany != null and investCompany.length() > 0">
      and invest_Company = #{investCompany,jdbcType=VARCHAR}
    </if>
    <if test="investConstitute != null and investConstitute.length() > 0">
      and invest_constitute = #{investConstitute,jdbcType=VARCHAR}
    </if>
    <if test="instructionType != null and instructionType.length() > 0">
      and instruction_type = #{instructionType,jdbcType=VARCHAR}
    </if>
    <if test="marketCode != null and marketCode.length() > 0">
      and market_code = #{marketCode,jdbcType=VARCHAR}
    </if>
    <if test="securityType != null and securityType.length() > 0">
      and security_type = #{securityType,jdbcType=VARCHAR}
    </if>
    <if test="transactionDirection != null and transactionDirection.length() > 0">
      and transaction_direction = #{transactionDirection,jdbcType=VARCHAR}
    </if>
    <if test="flowCode != null">
      and flow_code in(	select id from (
      select id FROM param_flowgroup  where id= #{flowCode,jdbcType=BIGINT}
      union
      select id from param_flowgroup  where father_id=#{flowCode,jdbcType=BIGINT} ) tmp )
    </if>
      ORDER BY create_time desc
  </select>
  <select id="queryFlowByGroupid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from param_flowInst
    where flow_code in(	select id from (
    select id FROM param_flowgroup  where id= #{id,jdbcType=BIGINT}
    union
    select id from param_flowgroup  where father_id= #{id,jdbcType=BIGINT} ) tmp )
    ORDER BY create_time desc
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    DELETE FROM  param_flowInst WHERE id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>
  <update id="updateStartFlagToStop" parameterType="java.util.List">
    update  param_flowInst set start_flag='0'  WHERE id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </update>

  <update id="updateStartFlagToStart" parameterType="java.util.List">
    update  param_flowInst set start_flag='1'  WHERE id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from param_flowInst
    where id = #{id,jdbcType=BIGINT}
    ORDER BY create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from param_flowInst
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.win.dfas.entity.ParamFlowInst">
    insert into param_flowInst (id, flow_name, flow_type,
      begin_date, end_date, product_code,
      invest_company, invest_constitute, instruction_type,
      market_code, security_type, transaction_direction,
      create_user_id, create_time, update_user_id,
      update_time, model_id, flow_code,
      deployment_id, process_def_id, start_flag,
      control_type)
    values (#{id,jdbcType=BIGINT}, #{flowName,jdbcType=VARCHAR}, #{flowType,jdbcType=VARCHAR},
      #{beginDate,jdbcType=CHAR}, #{endDate,jdbcType=CHAR}, #{productCode,jdbcType=VARCHAR},
      #{investCompany,jdbcType=VARCHAR}, #{investConstitute,jdbcType=VARCHAR}, #{instructionType,jdbcType=VARCHAR},
      #{marketCode,jdbcType=VARCHAR}, #{securityType,jdbcType=VARCHAR}, #{transactionDirection,jdbcType=VARCHAR},
      #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{modelId,jdbcType=VARCHAR}, #{flowCode,jdbcType=BIGINT},
      #{deploymentId,jdbcType=VARCHAR}, #{processDefId,jdbcType=VARCHAR}, #{startFlag,jdbcType=BIT},
      #{controlType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.win.dfas.entity.ParamFlowInst">
    insert into param_flowInst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="flowName != null">
        flow_name,
      </if>
      <if test="flowType != null">
        flow_type,
      </if>
      <if test="beginDate != null">
        begin_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="investCompany != null">
        invest_company,
      </if>
      <if test="investConstitute != null">
        invest_constitute,
      </if>
      <if test="instructionType != null">
        instruction_type,
      </if>
      <if test="marketCode != null">
        market_code,
      </if>
      <if test="securityType != null">
        security_type,
      </if>
      <if test="transactionDirection != null">
        transaction_direction,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="flowCode != null">
        flow_code,
      </if>
      <if test="deploymentId != null">
        deployment_id,
      </if>
      <if test="processDefId != null">
        process_def_id,
      </if>
      <if test="startFlag != null">
        start_flag,
      </if>
      <if test="controlType != null">
        control_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="flowName != null">
        #{flowName,jdbcType=VARCHAR},
      </if>
      <if test="flowType != null">
        #{flowType,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=CHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=CHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="investCompany != null">
        #{investCompany,jdbcType=VARCHAR},
      </if>
      <if test="investConstitute != null">
        #{investConstitute,jdbcType=VARCHAR},
      </if>
      <if test="instructionType != null">
        #{instructionType,jdbcType=VARCHAR},
      </if>
      <if test="marketCode != null">
        #{marketCode,jdbcType=VARCHAR},
      </if>
      <if test="securityType != null">
        #{securityType,jdbcType=VARCHAR},
      </if>
      <if test="transactionDirection != null">
        #{transactionDirection,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="flowCode != null">
        #{flowCode,jdbcType=BIGINT},
      </if>
      <if test="deploymentId != null">
        #{deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="processDefId != null">
        #{processDefId,jdbcType=VARCHAR},
      </if>
      <if test="startFlag != null">
        #{startFlag,jdbcType=BIT},
      </if>
      <if test="controlType != null">
        #{controlType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.win.dfas.entity.ParamFlowInst">
    update param_flowInst
    <set>
      <if test="flowName != null">
        flow_name = #{flowName,jdbcType=VARCHAR},
      </if>
      <if test="flowType != null">
        flow_type = #{flowType,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        begin_date = #{beginDate,jdbcType=CHAR},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=CHAR},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="investCompany != null">
        invest_company = #{investCompany,jdbcType=VARCHAR},
      </if>
      <if test="investConstitute != null">
        invest_constitute = #{investConstitute,jdbcType=VARCHAR},
      </if>
      <if test="instructionType != null">
        instruction_type = #{instructionType,jdbcType=VARCHAR},
      </if>
      <if test="marketCode != null">
        market_code = #{marketCode,jdbcType=VARCHAR},
      </if>
      <if test="securityType != null">
        security_type = #{securityType,jdbcType=VARCHAR},
      </if>
      <if test="transactionDirection != null">
        transaction_direction = #{transactionDirection,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="flowCode != null">
        flow_code = #{flowCode,jdbcType=BIGINT},
      </if>
      <if test="deploymentId != null">
        deployment_id = #{deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="processDefId != null">
        process_def_id = #{processDefId,jdbcType=VARCHAR},
      </if>
      <if test="startFlag != null">
        start_flag = #{startFlag,jdbcType=BIT},
      </if>
      <if test="controlType != null">
        control_type = #{controlType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.win.dfas.entity.ParamFlowInst">
    update param_flowInst
    set flow_name = #{flowName,jdbcType=VARCHAR},
      flow_type = #{flowType,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=CHAR},
      end_date = #{endDate,jdbcType=CHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      invest_company = #{investCompany,jdbcType=VARCHAR},
      invest_constitute = #{investConstitute,jdbcType=VARCHAR},
      instruction_type = #{instructionType,jdbcType=VARCHAR},
      market_code = #{marketCode,jdbcType=VARCHAR},
      security_type = #{securityType,jdbcType=VARCHAR},
      transaction_direction = #{transactionDirection,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      model_id = #{modelId,jdbcType=VARCHAR},
      flow_code = #{flowCode,jdbcType=BIGINT},
      deployment_id = #{deploymentId,jdbcType=VARCHAR},
      process_def_id = #{processDefId,jdbcType=VARCHAR},
      start_flag = #{startFlag,jdbcType=BIT},
      control_type = #{controlType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
