<div ng-app="app" class="modal" ng-controller="KisBpmAssignmentPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2 translate>PROPERTY.ASSIGNMENT.TITLE</h2>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
                    <div class="form-group">
                        <label for="assigneeField">{{'PROPERTY.ASSIGNMENT.ASSIGNEE' | translate}}</label>
                        <input type="text" id="assigneeField" class="form-control" ng-model="assignment.assignee" placeholder="{{'PROPERTY.ASSIGNMENT.ASSIGNEE_PLACEHOLDER' | translate}}" />
                    </div>
                </div>

            	<div class="row row-no-gutter">
            		<div class="form-group">
                        公司:<input ng-model="searchEntity.userName"> 姓名:<input ng-model="searchEntity.company">
                        <button  class="btn btn-default" ng-click="reloadList()">查询</button>            		</div>
            	</div>

                <div class="row row-no-gutter">
                    <div class="form-group">
                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="" style="padding-right:0px">
                                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                                </th>
                                <th class="sorting_asc">用户ID</th>
                                <th class="sorting">姓名</th>
                                <th class="sorting">公司</th>
                                <th class="sorting">部门</th>
                                <th class="sorting">角色</th>
                                <th class="sorting">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="entity in list">
                                <td><input  type="checkbox" ng-click="updateSelection($event, entity.id)" ></td>
                                <td>{{entity.userId}}</td>
                                <td>{{entity.userName}}</td>
                                <td>{{entity.company}}</td>
                                <td>{{entity.department}}</td>
                                <td>{{entity.role}}</td>
                                <td>{{entity.operation}}</td>
                            </tr>

                            </tbody>
                        </table>
                   	</div>
                </div>

            </div>
            <div class="modal-footer">
                <button ng-click="close()"  translate>ACTION.CANCEL</button>
                <button ng-click="save()"  translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
